.CompanyDetail {
  width: 90%;
  margin: 0 auto;
}

.CompanyDetail-info {
  color: hsl(0, 0%, 100%);
  padding: 10px;
  text-align: center;
  text-shadow: 4px 5px 6px rgba(0, 0, 0, 0.76);
}

.CompanyDetail-info p {
  font-size: 1.3rem;
}