.CompanyCard {
  width: 60%;
  margin: 1rem auto;
  border: 2px solid black;
  background: linear-gradient(#f5f7fa, #b8c6db);
  padding: 10px;
  height: 40%;
}

.CompanyCard a {
  text-decoration: none;
  color: inherit;
}

.CompanyCard img {
  width: 8rem;
}

.CompanyCard:hover {
  background: linear-gradient(#8eb3eb, #b8c6db);
  text-decoration: none;
}
