.spinner {
    margin: 5rem auto;
    display: flex;
    height: 4rem;
    width: 4rem;
    fill: hsl(202, 100%, 49%);
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
}