.LoginForm h3 {
  text-align: center;
  margin-top: 12px;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  text-shadow: 4px 5px 6px rgba(0, 0, 0, 0.76);
}

.LoginForm-card{
  background: linear-gradient(#f5f7fa, #b8c6db);
}

.LoginForm > .Errors h1 {
  color: hsl(0, 79%, 48%);
  font-size: 12px;
}
